@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <br />
    <div class="col-md-4">
        <button class="btn btn-primary" id="btnGenerate">Load Report</button>

    </div>

    <div class="col-md-4">
        <div class="col-sm-12 col-xs-12" style="float: right; text-align: end;">
            <a href=""  class="btn btn-info"  id="DownloadFileEcxel"> @Html.Label("Download Templete", new { @class = "excel" })</a>
        </div>

    </div>

</div>

<script>
    $(document).ready(function () {

        $("#btnGenerate").click(function () {
            ReportManager.GenerateReport();
        });

    });

    var ReportManager = {
        GenerateReport: function () {
            var jsonParam = "";
            var serviceUrl = "@Url.Content("~/Home/GetActorReport")";
            ReportManager.GetReport(serviceUrl, jsonParam,onFaild)

            function onFaild(error) {
                alert(error);
            }
        },

        GetReport: function (serverUrl, jsonParams, errorCallBack) {
            jQuery.ajax({
                URL: serverUrl,
                async: false,
                type: "POST",
                data: "{" + jsonParams + "}",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    window.open('../Reports/ActorReport.aspx', 'newtab');
                },
                error: errorCallBack

            });
        }


    };

    var ReportHelper = {


    };

    $("#DownloadFileEcxel").click(function (e) {
        e.preventDefault();

        window.location = "@Url.Content("~/Home/ExportExcelFile")";
        return;

    });

</script>